.overlay {
  position: absolute;
  height: 1px;
  top: 0;
  left: 0;
  width: 1px;
}

.overlay::before {
  content: "";
  background: linear-gradient(#101010 50%, rgba(16, 16, 16, 0.2) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.03), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.03));
	background-size: 100% 3px, 6px 100%;
  display: block;
  pointer-events: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.overlay::after {
  content: "";
  display: block;
  position: fixed;
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(16, 16, 16, 0.2);
  animation: flicker 0.3s infinite;
}

.scanline {
	animation: scroll 10s 5s infinite;
	background: -moz-linear-gradient(top,  rgba(0,221,0,0) 0%, rgba(0,221,0,1) 50%, rgba(0,221,0,0) 100%);
	background: -webkit-linear-gradient(top,  rgba(0,221,0,0) 0%,rgba(0,221,0,1) 50%,rgba(0,221,0,0) 100%);
	background: linear-gradient(to bottom,  rgba(0,221,0,0) 0%,rgba(0,221,0,1) 50%,rgba(0,221,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000dd00', endColorstr='#0000dd00',GradientType=0 );
	display: block;
	height: 20px;
	opacity: 0.05;
	position: fixed;
  pointer-events: none;
		left: 0;
		right: 0;
		top: -5%;
	z-index: 2;
}

.section-divider {
  position: relative;
  height: 5rem;
}

.section-divider::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "------";
  font-size: 4rem;
}

header {
  padding: 1rem;
}

header .decorative img {
  height: 250px;
  width: auto;
  object-fit: contain;
  color: var(--os-text);
}

header {
  h1, h2, h3, p {
    margin-block: 5px;
  }

  position: relative;
}

header h1 {
  font-size: 2.8rem;
}

header h2 {
  font-size: 2.4rem;
}

header h3 {
  font-size: 2rem;
}

header .functional-links {
  display: flex;
  gap: .84rem;
  position: absolute;
  top: 5px;
  right: 5px;
  padding-top: 1.65rem;
}

header .functional-links button {
  all: unset;
}

header .functional-links img {
  height: 1.8rem;
  width: auto;
  filter: brightness(0) saturate(100%) invert(52%) sepia(65%) saturate(4288%) hue-rotate(91deg) brightness(115%) contrast(116%);
}

nav {
  font-size: 2rem;
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

nav ul a {
  color: white;
  text-decoration: none;
}

nav ul a:hover {
  color: red;
}

ul a::before {
  content: "[ ";
  color: var(--os-text);
}

ul a::after {
  content: " ]";
  color: var(--os-text);
}

nav h2 {
  font-size: 2rem;
}

.card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  gap: 0.35rem;
  justify-content: center;
}

.card {
  height: 340px;
  border: 5px solid var(--os-border);
}

.card:hover {
  box-shadow: 0 0 7px white;
}

.card img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-position: center top;
}

.card p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-inline: 6px;
}

dialog {
  max-width: 500px;
  border: 5px solid darkgray;
  padding: 0;
}

dialog .upper-bar {
  background-color: darkgray;
  color: var(--os-background);
  height: 23px;
  display: flex;
  justify-content: space-between;
  padding-inline: .84rem;
  align-items: center;
  user-select: none;
  cursor: move;
}

dialog .upper-bar button {
  all: unset;
  width: 9px;
  height: 9px;
  cursor: pointer;
}

dialog .upper-bar button img {
  width: 9px;
  height: 9px;
}

dialog .info-section {
  background-color: var(--os-background);
  color: var(--os-text);
}

dialog .info-section h2 {
  margin: 0;
  padding: 0;
}