@import url(https://fonts.googleapis.com/css?family=VT323);

body {
  --os-text: #00dd00;
  --os-background: #383838;
  --os-border: #b1c4c8;
  margin: 0;
  background: var(--os-background);
	color: var(--os-text);
  font-family: 'VT323', Courier;
  margin: 0;
  padding: 0;
}

#root {
  box-sizing: border-box;
  isolation: isolate;
  width: 100%;
  padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

h2 {
  font-size: 1.8rem;
}

p {
  margin: 0;
  font-size: 1.4rem;
}
